<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')  %> 
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <section class="container">
        <%- include('partials/nav.ejs')  %> 

        <article class="content">
            <h1>Produtos</h1>
            <br>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque laboriosam obcaecati eveniet perspiciatis facilis, animi dolorem distinctio nulla soluta saepe! Enim dolorem sint nesciunt dolores tempore quae praesentium cumque ad!
            </p>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DtbrB1IAgM0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </article>

    </section>
    


    <%- include('partials/footer.ejs') %> 
    
    
    <%- include('partials/foot.ejs')  %> 
</body>
</html>