<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')  %> 
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <section class="container">
        <%- include('partials/nav.ejs')  %> 

        <article class="content">
            <h1>Quem Somos</h1>
            <br>

            <img src="imagens/cadeira.jpg" alt="Quem Somos" class="quem-somos"> 
                <br>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque laboriosam obcaecati eveniet perspiciatis facilis, animi dolorem distinctio nulla soluta saepe! Enim dolorem sint nesciunt dolores tempore quae praesentium cumque ad!
                </p>
            
        </article>

    </section>
    


    <%- include('partials/footer.ejs') %> 
    
    
    <%- include('partials/foot.ejs')  %> 
</body>
</html>